*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus-visible{
        outline: none;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-padding-top: 70px;
}

